
/* Project-specific CSS */

$handle-bottom-bar: true;

body,
html {
    padding: 0;
    margin: 0;
}

#gametools-container {
    height: 100%;
    width: 100%;
}

.background-country {
    path {
        fill: rgb(200, 200, 200);
        stroke: black;
        stroke-width: 20;
    }
}

.show-correct-country {
    path {
        fill: rgb(255, 150, 150);
    }
}

use.current-country {
    stroke-width: 80;
    stroke: blue;
    touch-action: none;
}
.current-country-source {
    &, * {
        touch-action: none;
    }
}

.gt-svgmap-country-svg {
    max-width: 100%;
    max-height: 35vh;
}

.gt-svgmap {
    $map-landscape-height: 80vh;
    max-height: $map-landscape-height;
    padding: 0;
    .gt-svgmap-flexbox {
        width: 100%;
        height: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        max-height: $map-landscape-height;
        @media screen and (max-width: 400px) {
            flex-direction: column;
        }
        .gt-svgmap-controls-div {
            flex: 0 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            $controls-size: 4rem;
            @media screen and (max-width: 400px) {
                height: $controls-size;
            }
            @media screen and (min-width: 400px) {
                width: $controls-size;
            }
            button {
                $button-margin: $controls-size * 0.05;
                margin: $button-margin;
                $adjusted-size: $controls-size - ($button-margin * 2);
                width: $adjusted-size;
                height: $adjusted-size;
                flex: none;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                padding: $controls-size * 0.1;
                font-size: $controls-size * 0.5;
            }
        }
        .gt-svgmap-country-div svg {
            height: 80vmin;
        }
        .gt-svgmap-map-div {
            flex: 1 1 auto;
            overflow: auto;
            max-height: 100%;
            svg {
                height: 80vmin;
                width: auto;
            }
        }
    }
}